<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>discountLocation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Discount Location header image -->
  <img src="./assets/DLImage.jpg" class="backgroundImage">

  <!-- Information on discount location -->
  <ion-card class="locationInfoCard">
    <div class="titleBGColor">
      <ion-card-title style="color: white;">Restaurant Title</ion-card-title>

      <ion-card-content class="locationDetails">Star Rating</ion-card-content>
      <ion-card-content class="locationDetails">Address</ion-card-content>
      <ion-card-content class="locationDetails">Hours of Operation</ion-card-content>
    </div>
  </ion-card>


</ion-content>
