// div {
//   position: absolute;
// }

.backgroundImage {
  width: 100%;
  min-height: 160px;
  max-height: 160px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

.locationInfoCard {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  margin-left: 0px;
  margin-top: 0px;
  padding-top: 0px;
}

.locationDetails{
  padding-top: 10px;
}

.title {
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: bold;
}

.information {
  padding-top: 3px;
  padding-bottom: 10px;
}

.titleBGColor {
  background-color: #3869C5;
  // height: 50px;
  width: 100%;
  padding: 10px;
}

.center {
  text-align: center;
}