// div {
//   position: absolute;
// }

.backgroundImage {
  width: 100%;
  height: 200px;
  position: absolute;
}

.locationInfoCard {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  margin-left: 0px;
  margin-top: 150px;
}

.locationDetails{
  padding-top: 10px;
}

.titleBGColor {
  background-color: #3869C5;
  height: 50px;
  width: 100%;
  padding: 10px;
}
