<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>discountLocation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Discount Location header image -->
  <div class="backgroundImage">
  <img src="./assets/DLImage.jpg" class="backgroundImage">
  </div>

  <!-- Information on discount location -->
  <ion-card class="locationInfoCard">

    <div class="titleBGColor">
      <ion-card-title style="color: white;">{{Title}}</ion-card-title>
    </div>

    <div>
      <ion-card-content class="locationDetails">{{Location}}</ion-card-content>
      <ion-card-content class="locationDetails">{{Discount}}</ion-card-content>
      <ion-card-content class="locationDetails">{{Limitations}}</ion-card-content>
      <ion-card-content class="locationDetails">{{UnlimitedUsage}}</ion-card-content>
      <ion-card-content class="locationDetails">{{LocationType}}</ion-card-content>
    </div>

  </ion-card>

</ion-content>
