<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="manage-account"></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">
  <form [formGroup]="validations_form" (ngSubmit)="resetPassword(validations_form)">
    <ion-grid>
      <ion-row color="primary">
        <ion-col>

          <div formGroupName="matching_passwords">
            <ion-item>
              <ion-label position="floating" color="primary">New Password</ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.password">
                <div class="error-message" *ngIf="validations_form.get('matching_passwords').get('password').hasError(validation.type) && (validations_form.get('matching_passwords').get('password').dirty || validations_form.get('matching_passwords').get('password').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>

            <ion-item>
              <ion-label position="floating" color="primary">Confirm Password</ion-label>
              <ion-input type="password" formControlName="confirm_password"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.confirm_password">
                <div class="error-message" *ngIf="validations_form.get('matching_passwords').get('confirm_password').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </div>


          <div class="button-div" text-center>
            <ion-button color="primary" class="submit-btn buttonPadding" type="submit" [disabled]="!validations_form.valid">Update Password</ion-button>
          </div>

          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.matching_passwords">
              <div class="error-message"
                *ngIf="validations_form.get('matching_passwords').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
