<ion-buttons slot="start">
   <ion-back-button defaultHref="login"></ion-back-button>
 </ion-buttons>

<ion-content class="background">
    <form  #form="ngForm" (ngSubmit)="registerNew(form)">
        <ion-grid>
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div text-center class="header">
                <h3>Create your account</h3>
              </div>
              <ion-card>
                <div padding>
                  <ion-item>
                    <ion-label position="floating">Full Name</ion-label>
                    <ion-input  name="name" type="text" ngModel required></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Email</ion-label>
                    <ion-input name="email" type="email" ngModel required></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Password</ion-label>
                    <ion-input name="password" type="password" ngModel required></ion-input>
                  </ion-item>
                  <ion-item>
                      <ion-label position="floating">Confirm Password</ion-label>
                    <ion-input name="confirm" type="password" ngModel required></ion-input>
                  </ion-item>
                </div>
                <div class="button-div" text-center>
                  <ion-button size="large" type="submit" [disabled]="form.invalid">Register</ion-button>
                </div>
              </ion-card>

            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
</ion-content>
