.button-bottom{
  position: fixed;
  left: 0;
  bottom: 20px;
  right: 0;
}

ion-card {
  position: absolute;
  top: 10%;
  left: 27%;
  width: 150px;
  height: 150px;
}

ion-button{
    --background: #3869C5;
    --color: white;
    --padding-bottom: 16px;
    min-width: 80%;
    --padding-top: 16px;
    --padding-start: 64px;
    --padding-end: 64px;
    --background-hover: #131d6e;
    --color-hover: white;
    --background-activated: #131d6e;
}
