<ion-header>
  <ion-toolbar>
    <ion-title>
      My Hero App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-text-center">
    <h3>My Hero App</h3>
      <div class="button-bottom">
          <ion-button size="large" (click)="goToLogin()">My Rewards</ion-button>
          <br>
          <ion-button size="large">Discount Locations</ion-button>
          <br>
          <ion-button size="large" (click)="goToPaymentInfo()">Manage Account</ion-button>
      </div>
  </div>
</ion-content>
