.search {
  width: 80%;
  max-width: 600px;
  padding: 10px;
}

ion-icon {
  // vertical-align: middle;
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
  // padding-bottom: 10px;
  // padding-top: 10px;

}

.filter {
  margin: 0;
  padding: 0;
}

.browseCard {
  height: 15%;
  margin: 7px 16px;
  max-width: 600px;
}

.dlImage {
  position: absolute;
  float: left;
  width: 27%;
  height: auto;
  --color: green;
}

.blContent {
  padding-left: 30%;
  padding-top: 5px;
}

#searchbar {
  height:60px;
}

ion-searchbar {
  display: inline-block;
  // padding: 50px;
}

ion-card-title {
  font-size: 20px;
}
