<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Browse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="searchbar">
    <ion-searchbar animated class="search" (ionChange)="search()"></ion-searchbar>
    <ion-icon (click)="presentPopover($event)" name="options" size="large" class="filter"></ion-icon>
    <ion-popover-controller></ion-popover-controller>
  </div>


  <ion-card class="browseCard" (click)="goToDetailPage(card)" *ngFor="let card of cards">
    <img src="./assets/DLImage.jpg" class="dlImage">
    <div class="blContent">
      <ion-card-title>{{card.Title}}</ion-card-title>
      <ion-card-subtitle>{{card.Location}}</ion-card-subtitle>
      {{card.Discount}}
    </div>
    <!-- <ion-button (click)="goToDetailPage(card)">DETAILS</ion-button> -->
  </ion-card>

</ion-content>
