<ion-header>
  <ion-toolbar>
    <ion-title>Browse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated debounce="500"></ion-searchbar>

  <ion-card class="browseCard">
    <ion-card-title>Restaurant Title</ion-card-title>
    <ion-card-subtitle>Header</ion-card-subtitle>
    Hello
  </ion-card>

  <ion-card class="browseCard">
    <ion-card-title>Title</ion-card-title>
    <ion-card-subtitle>Header</ion-card-subtitle>
    Hello
  </ion-card>

  <ion-card class="browseCard">
    <ion-card-title>Title</ion-card-title>
    <ion-card-subtitle>Header</ion-card-subtitle>
    Hello
  </ion-card>

  <ion-card class="browseCard">
    <ion-card-title>Title</ion-card-title>
    <ion-card-subtitle>Header</ion-card-subtitle>
    Hello
  </ion-card>

  <ion-card class="browseCard">
    <ion-card-title>Title</ion-card-title>
    <ion-card-subtitle>Header</ion-card-subtitle>
    Hello
  </ion-card>

  <ion-card class="browseCard">
    <ion-card-title>Title</ion-card-title>
    <ion-card-subtitle>Header</ion-card-subtitle>
    Hello
  </ion-card>

  <ion-card class="browseCard">
    <ion-card-title>Title</ion-card-title>
    <ion-card-subtitle>Header</ion-card-subtitle>
    Hello
  </ion-card>

  <ion-card class="browseCard">
    <ion-card-title>Title</ion-card-title>
    <ion-card-subtitle>Header</ion-card-subtitle>
    Hello
  </ion-card>

</ion-content>
