<ion-header>
  <ion-toolbar>
    <ion-title>Payment Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
          <ion-card>
            <ion-card-header>
              <ion-card-title>**** **** **** 1234</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              Name + Exp
            </ion-card-content>
          </ion-card>
        </ion-row>
        <ion-row>
          <ion-card>
            <ion-card-content>
              Date Joined: March 4th, 2017<br/>
              Auto-Renew: Activated<br/>
              Membership Status: Paid Member
            </ion-card-content>
          </ion-card>
        </ion-row>
    </ion-grid>
</ion-content>
