<ion-header>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <div class="header">
      <h1>Welcome Back!</h1>
    </div>
    <div class="content">
      <h6>Thank you for your continued support!</h6>
      <br>
      <p>We are happy to have your continued support, and hope you are excited about your new digital Hero Card!</p>
      <br>
      <p>In order to gain access to all of the Hero Card benefits please confirm your payment information by
      going to manage account and clicking on "Payment Info"</p>
    </div>
    <div class="button-bottom">
      <ion-button size="large" (click)="goToHome()">Continue</ion-button>
    </div>
  </div>
</ion-content>
