<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Payment Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="blueBG">
        <ion-row class="cardPadding">
          <ion-card class="creditCard">
            <ion-card-header>
              <ion-card-title>**** **** **** 1234</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-row>
                <ion-col>
                  Name
                </ion-col>
                <ion-col class="text-align-right">
                  Exp
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-row>
        <ion-row id="bottom-align">
          <div id="info">
            <b>Member Since:</b> March 4th, 2017<br/>
            <b>Auto-Renew:</b> Activated<br/>
            <b>Membership Status:</b> Paid Member
          </div>
          <div id="buttons">
            <ion-button expand="block"><ion-icon name="settings"></ion-icon>Edit Payment Method</ion-button>
          </div>
          <div id="unsub" (click)="goToRegister()">Unsubscribe</div>
        </ion-row>
    </ion-grid>
</ion-content>
