ion-card {
  width: 100%;
}

.blueBG {
  background: #3869C5;
}

.cardPadding {
  padding-top: 18px;
  padding-bottom: 18px;
}

.creditCard {
  min-height: 185px;
}

.text-align-right {
  text-align: right;
}

#info {
  margin: 15px 20px;
}

#buttons {
  margin: 15px 10px 0px 10px;
  width:100%;
}

#unsub {
  padding-left: 140px;
  padding-top: 10px;
  margin: 0px;
}

#bottom-align {
  position: fixed;
  left: 0;
  bottom: 20px;
  right: 0;
}
