<!-- <ion-title>Filtering Options</ion-title> -->

<div class="filterCard">
  <ion-label>Sort by:</ion-label>
  <ion-select placeholder="Select Criteria" id="sort-by">
    <ion-select-option selected value="alphabetical">A-Z</ion-select-option>
    <ion-select-option value="distance">Distance</ion-select-option>
  </ion-select>
  <ion-label>Location Type:</ion-label>
  <ion-select interface="alert" placeholder="Select Type" id="location-type">
    <ion-select-option selected value="All">All</ion-select-option>
    <ion-select-option value="restaurant">Restaurant</ion-select-option>
    <ion-select-option value="golf">Golf</ion-select-option>
    <ion-select-option value="family">Family Fun</ion-select-option>
    <ion-select-option value="miscellaneous">Miscellaneous</ion-select-option>
  </ion-select>

<ion-button size="small" (click)="apply()">Apply</ion-button>
</div>
