<!-- <ion-title>Filtering Options</ion-title> -->

<div class="filterCard">
  <!-- <ion-label>Sort by:</ion-label>
  <ion-select id="sort-by">
    <ion-select-option selected value="price-low-high">Price Low-High</ion-select-option>
    <ion-select-option value="price-high-low">Price High-Low</ion-select-option>
    <ion-select-option value="most-rated">Most Rated</ion-select-option>
  </ion-select> -->
  <ion-label>Location Type:</ion-label>
  <ion-select interface="alert" placeholder="Select Type" id="location-type">
    <ion-select-option value="All">All</ion-select-option>
    <ion-select-option value="restaurant">Restaurant</ion-select-option>
    <ion-select-option value="golf">Golf</ion-select-option>
    <ion-select-option value="family">Family Fun</ion-select-option>
    <ion-select-option value="miscellaneous">Miscellaneous</ion-select-option>
  </ion-select>

<ion-button size="small" (click)="apply()">Apply</ion-button>
</div>
