
.btn {
    --background: white;
    --border-color: #131d6e;
    --border-style: solid;
    --border-width: 2px; 
    --color: black;
    --padding-bottom: 16px;
    --padding-top: 16px;
    --padding-start: 32px;
    --padding-end: 32px;
    --background-hover: #131d6e;
    --color-hover: white;
    --background-activated: #131d6e;
}

