
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="manage-account"></ion-back-button>
    </ion-buttons>
    <ion-title>Change Email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">
  <form [formGroup]="validations_form" (ngSubmit)="updateEmail(validations_form)">
    <ion-grid>
      <ion-row color="primary">
        <ion-col>

          <div class="emailPadding">Current Email</div>
          <div class="currentEmailPadding">example@email.com</div>

          <ion-item>
            <ion-label position="floating" color="primary">New Email</ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.email">
              <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>


          <div class="button-div" text-center>
            <ion-button color="primary" class="submit-btn buttonPadding" type="submit" [disabled]="!validations_form.valid">Update Email</ion-button>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
