<ion-header>
</ion-header>

<ion-content class="background">
  <div class="ion-text-center" padding>
    <div class="header">
      <h1>Welcome!</h1>
    </div>
    <ion-card>
      <ion-card-content>

        <div class="content">
          <h6>You are now a Hero Card Member!</h6>
          <br>
          <p>To get all the benefits please subscribe to the Hero Card service. Click the button
          below to update your current information.</p>
        </div>
        <div class="button-bottom">
          <ion-button size="large" (click)="goToPaymentInfo()">Update Payment Info</ion-button>
        </div>
        <p class="update-later" (click)="goToHome()">Update Later</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
