<ion-header>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <div class="header">
      <h1>Welcome!</h1>
    </div>
    <div class="content">
      <h6>You are now a Hero Card Member!</h6>
      <br>
      <p>In order to gain access to all of the Hero Card benefits please subscribe to the service by
      going to manage account and clicking on "Payment Info"</p>
      <br>
      <p>Enjoy your discounts!</p>
    </div>
    <div class="button-bottom">
      <ion-button size="large" (click)="goToHome()">Continue</ion-button>
    </div>
  </div>
</ion-content>
