.button-bottom{
  position: fixed;
  left: 0;
  bottom: 20px;
  right: 0;
}

.header {
  padding-top: 40px;
  color: white;
}

.content{
  padding-top: 100px;
  padding-left: 40px;
  padding-right: 40px;
}
