<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772903185008-p9ntiqge8qn6s9r1hs71dusulj2e6707.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772903185008-p9ntiqge8qn6s9r1hs71dusulj2e6707</string>
	<key>API_KEY</key>
	<string>AIzaSyDcAvAaUohcrLesjLyZNEHkCfM0p3bjxJs</string>
	<key>GCM_SENDER_ID</key>
	<string>772903185008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.herocard.heroapp</string>
	<key>PROJECT_ID</key>
	<string>testheroapp-f893e</string>
	<key>STORAGE_BUCKET</key>
	<string>testheroapp-f893e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772903185008:ios:ca7f6b21dd0e9a484e62b5</string>
	<key>DATABASE_URL</key>
	<string>https://testheroapp-f893e.firebaseio.com</string>
</dict>
</plist>